*{
    overflow-y: hidden; /* Permite el scroll vertical */
    overflow-x: hidden; /* Oculta el scroll horizontal */
}

a{
    padding: 0px 0px 8px 0px !important;
    margin: 0px 10px 0px 5px !important;
}

main{
    background: url(../img/fondo_volcán.png); 
    background-repeat: repeat !important;
    background-size: auto;     /* mantiene el tamaño original */
    background-position: top left; /* punto inicial de repetición */
}

.peligro-volcan{     
    padding: 115px 23px 22px 22px;
    height: 743px;
    background-color: rgb(0, 0, 0,0.6);
}

.botonera_1{
    margin: 9% 0% 0% 0%;
}

#contenedor-botonera1{
    padding: 4% 8% 4% 8%;
    margin: 10% 7% 3% 7%;
    border-left: solid 1px rgb(255,255,255,0.5);
}

.botonera_3{
    margin: 1% 0% 0% 0%;
}

.boton{
    width: 100%;
    height: 60px;
    background-color: rgb(255,255,255,0.2);
    border: transparent;
    padding: 10px;
    color: white;
    margin-top: 1px;
}

.boton:hover{
    background-color: rgb(255,255,255,0.4);
}

.boton:focus{
    background-color: #a30106;
    outline: none;
}

.enlace-pag{
    border-bottom:solid 2px transparent;
    color:rgb(4, 4, 127)
}

.enlace-pag:hover{
    color:red
}

.enlace-pag:focus{
    border-bottom:solid 2px red;
    color:rgb(4, 4, 127);
    outline: none;
}

.imagen{
    width:100%; 
    margin: 10% 0% 10% 0%
}

@media only screen and (max-width:700px) {
  nav{
    font-size: 12.5px;
    font-weight: bold;
  }

  .boton{
    height: 42px;
  }

  #contenedor-botonera1{
    padding: 0;
    margin: 23% 0% 0% 0%;
    border-left: none;
  }
 
}

@media only screen and (max-height:700px) {
  nav{
    font-size: 12.5px;
    font-weight: bold;
  }

  .boton{
    height: 42px;
  }

  #contenedor-botonera1{
    padding: 0;
    margin: 0% 0% 0% 0%;
    border-left: none;
  }

  .imagen{
    width:100%; 
    margin: 10% 0% 5% 0%
  }
 
}